.section-head
  position: relative
  background: #ffffff

  &__inner
    padding-top: 60px

  &__row
    display: flex
    flex-direction: row
    align-items: center

  &__content
    display: flex
    flex-direction: column
    justify-content: center
    height: 100%
    width: 50%

  &__title
    text-transform: uppercase
    margin-bottom: 10px
    font-size: 3em
    color: #333333

  &__description
    color: #333333

  &__cover
    text-align: center
    position: relative
    padding: 50px 0
    height: 100%
    width: 50%

  &__image
    height: auto
    width: auto
    object-fit: cover