.admin-content
  position: relative

  &__inner
    margin-left: 50px
    padding: 20px

  &__divided
    display: flex
    flex-direction: column
    justify-content: center

  &__title
    color: #333333
    text-align: left
    font-weight: 300
    margin-bottom: 20px

  &__main
    width: 100%

  &__toolbar
    margin-bottom: 20px

  &__toolbar-list
    list-style: none
    display: flex
    flex-direction: row
    justify-content: left

  &__toolbar-item:not(:last-child)
    margin-right: 20px

  &__toolbar-link
    text-decoration: none
    display: block
    padding: 5px
    font-size: 0.9em
    border-radius: 2px
    color: #ffffff
    background: #3BA4EF

    &:hover
      background: #1E85BE

  &__table
    width: 100%
    border-collapse: collapse

  &__table-head
    text-align: left
    color: #333333
    font-size: 0.9em

  &__head-row
    height: 40px
    border-bottom: 1px solid #EBEBEB

  &__head-column
    padding: 0 10px
    font-weight: normal

  &__table-body
    text-align: left
    color: #333333

  &__body-row
    height: 40px
    border-bottom: 1px solid #EBEBEB

  &__body-column
    position: relative
    padding: 0 10px
    
    &:last-child
      width: 50px

  &__column-list
    list-style: none
    display: flex
    flex-direction: row
    justify-content: left

  &__list-item
    width: 20px
    height: 20px

  &__list-icon
    fill: #333333
    fill-rule: evenodd

  &__tools
    position: relative
    display: flex
    flex-direction: column
    justify-content: center

    &:hover .admin-content__tools-list
      display: flex

  &__tools-icon
    height: 30px
    fill: #333333
    fill-rule: evenodd
    cursor: pointer

  &__tools-list
    list-style: none
    position: absolute
    display: none
    flex-direction: column
    top: 30px
    right: 0
    padding: 10px
    background: #ffffff
    border: 1px solid #EBEBEB
    border-radius: 2px
    z-index: 100

  &__item-icon
    height: 15px
    margin-right: 5px
    fill-rule: evenodd

    &--default
      fill: #333333

    &--remove
      fill: #B5036F

    &--success
      fill: #75C49B

  &__item-link
    text-decoration: none
    position: relative
    display: flex
    flex-direction: row
    justify-content: left
    padding: 5px
    border-radius: 2px

    &:hover
      background: #EBEBEB

  &__item-button
    border: none
    background: none
    position: relative
    display: flex
    flex-direction: row
    justify-content: left
    font-size: 1em
    width: 100%
    padding: 5px
    border-radius: 2px
    cursor: pointer

    &:hover
      background: #EBEBEB

  &__item-text

    &--default
      color: #333333

    &--remove
      color: #B5036F


  &__form
    display: flex
    flex-direction: column

  &__form-row
    display: flex
    flex-direction: row

    &:not(:last-child)
      margin-bottom: 20px

  &__form-label
    width: 300px
    min-width: 150px
    text-align: left

  &__form-text
    width: 500px
    min-width: 250px
    height: 30px
    padding: 0 10px
    border-radius: 2px

    &--default
      border: 1px solid #EBEBEB

    &--error
      border: 1px solid #F8726E

  &__form-label-file
    position: relative
    display: flex
    flex-direction: row
    align-items: center
    width: 150px
    padding: 5px
    background: #3BA4EF
    border-radius: 2px
    cursor: pointer

    &:hover
      background: #1E85BE

  &__form-label-icon
    height: 20px
    fill: #ffffff
    fill-rule: evenodd
    margin-right: 10px

  &__form-label-text
    color: #ffffff
    font-size: 0.9em

  &__form-file
    display: none
    overflow: hidden
    position: absolute
    width: 1px
    height: 1px
    top: 0
    left: 0

  &__form-button
    width: 200px
    height: 30px
    color: #ffffff
    background: #3BA4EF
    border: none
    border-radius: 2px
    cursor: pointer

    &:hover
      background: #1E85BE

  &__form-errors
    margin-top: 5px
    font-size: 0.9em
    color: #F8726E

    & ul
      list-style: none

  &__form-layout

  &__admin-preview
    margin-left: 10px

