{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/style.admin.css') }}">
{% endblock %}

{% block main %}
    <main class="admin-main">
        <div class="admin-container i-font_face_roboto">
            {% include('admin/_admin-sidebar.html.twig') %}
            {% block content %}{% endblock %}
            {% include('admin/_notification.html.twig') %}
        </div>
    </main>
{% endblock %}