{% extends 'admin/layout.html.twig' %}

{% block title %}Admin panel | Portfolio{% endblock %}

{% block content %}
    <div class="admin-content">
        <div class="admin-content__inner">
            <div class="admin-content__divided">
                <h1 class="admin-content__title">PORTFOLIO</h1>
                <div class="admin-content__main">
                    <div class="admin-content__toolbar">
                        <ul class="admin-content__toolbar-list">
                            <li class="admin-content__toolbar-item">
                                <a class="admin-content__toolbar-link" href="{{ path('admin.portfolio_new') }}">New project</a>
                            </li>
                        </ul>
                    </div>
                    <table class="admin-content__table">
                        <thead class="admin-content__table-head">
                            <tr class="admin-content__head-row">
                                <th class="admin-content__head-column">id</th>
                                <th class="admin-content__head-column">Name</th>
                                <th class="admin-content__head-column">Date</th>
                                <th class="admin-content__head-column">Tools</th>
                            </tr>
                        </thead>
                        <tbody class="admin-content__table-body">
                            <tr class="admin-content__body-row">
                                <td class="admin-content__body-column">12</td>
                                <td class="admin-content__body-column">lorem ipsum</td>
                                <td class="admin-content__body-column">12-20-2020 15:00</td>
                                <td class="admin-content__body-column">
                                    <div class="admin-content__tools">
                                        <svg class="admin-content__tools-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 512">
                                            <path d="M32 224c17.7 0 32 14.3 32 32s-14.3 32-32 32-32-14.3-32-32 14.3-32 32-32zM0 136c0 17.7 14.3 32 32 32s32-14.3 32-32-14.3-32-32-32-32 14.3-32 32zm0 240c0 17.7 14.3 32 32 32s32-14.3 32-32-14.3-32-32-32-32 14.3-32 32z"/>
                                        </svg>
                                        <ul class="admin-content__tools-list">
                                            <li class="admin-content__tools-item">
                                                <svg class="admin-content__item-icon admin-content__item-icon--default" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                    <path d="M417.8 315.5l20-20c3.8-3.8 10.2-1.1 10.2 4.2V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h292.3c5.3 0 8 6.5 4.2 10.2l-20 20c-1.1 1.1-2.7 1.8-4.2 1.8H48c-8.8 0-16 7.2-16 16v352c0 8.8 7.2 16 16 16h352c8.8 0 16-7.2 16-16V319.7c0-1.6.6-3.1 1.8-4.2zm145.9-191.2L251.2 436.8l-99.9 11.1c-13.4 1.5-24.7-9.8-23.2-23.2l11.1-99.9L451.7 12.3c16.4-16.4 43-16.4 59.4 0l52.6 52.6c16.4 16.4 16.4 43 0 59.4zm-93.6 48.4L403.4 106 169.8 339.5l-8.3 75.1 75.1-8.3 233.5-233.6zm71-85.2l-52.6-52.6c-3.8-3.8-10.2-4-14.1 0L426 83.3l66.7 66.7 48.4-48.4c3.9-3.8 3.9-10.2 0-14.1z"/>
                                                </svg>
                                                <span class="admin-content__item-text admin-content__item-text--default">Edit</span>
                                            </li>
                                            <li class="admin-content__tools-item">
                                                <svg class="admin-content__item-icon admin-content__item-icon--default" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                                    <path d="M637 485.25L23 1.75A8 8 0 0 0 11.76 3l-10 12.51A8 8 0 0 0 3 26.75l614 483.5a8 8 0 0 0 11.25-1.25l10-12.51a8 8 0 0 0-1.25-11.24zM320 96a128.14 128.14 0 0 1 128 128c0 21.62-5.9 41.69-15.4 59.57l25.45 20C471.65 280.09 480 253.14 480 224c0-36.83-12.91-70.31-33.78-97.33A294.88 294.88 0 0 1 576.05 256a299.73 299.73 0 0 1-67.77 87.16l25.32 19.94c28.47-26.28 52.87-57.26 70.93-92.51a32.35 32.35 0 0 0 0-29.19C550.3 135.59 442.94 64 320 64a311.23 311.23 0 0 0-130.12 28.43l45.77 36C258.24 108.52 287.56 96 320 96zm60.86 146.83A63.15 63.15 0 0 0 320 160c-1 0-1.89.24-2.85.29a45.11 45.11 0 0 1-.24 32.19zm-217.62-49.16A154.29 154.29 0 0 0 160 224a159.39 159.39 0 0 0 226.27 145.29L356.69 346c-11.7 3.53-23.85 6-36.68 6A128.15 128.15 0 0 1 192 224c0-2.44.59-4.72.72-7.12zM320 416c-107.36 0-205.47-61.31-256-160 17.43-34 41.09-62.72 68.31-86.72l-25.86-20.37c-28.48 26.28-52.87 57.25-70.93 92.5a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448a311.25 311.25 0 0 0 130.12-28.43l-29.25-23C389.06 408.84 355.15 416 320 416z"/>
                                                </svg>
                                                <span class="admin-content__item-text admin-content__item-text--default">Hidden</span>
                                            </li>
                                            <li class="admin-content__tools-item">
                                                <svg class="admin-content__item-icon admin-content__item-icon--remove" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                    <path d="M440 64H336l-33.6-44.8A48 48 0 0 0 264 0h-80a48 48 0 0 0-38.4 19.2L112 64H8a8 8 0 0 0-8 8v16a8 8 0 0 0 8 8h18.9l33.2 372.3a48 48 0 0 0 47.8 43.7h232.2a48 48 0 0 0 47.8-43.7L421.1 96H440a8 8 0 0 0 8-8V72a8 8 0 0 0-8-8zM171.2 38.4A16.1 16.1 0 0 1 184 32h80a16.1 16.1 0 0 1 12.8 6.4L296 64H152zm184.8 427a15.91 15.91 0 0 1-15.9 14.6H107.9A15.91 15.91 0 0 1 92 465.4L59 96h330z"/>
                                                </svg>
                                                <span class="admin-content__item-text admin-content__item-text--remove">Remove</span>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
