{% extends 'admin/layout.html.twig' %}

{% block title %}Admin panel | Portfolio{% endblock %}

{% block content %}
    <div class="admin-content">
        <div class="admin-content__inner">
            <div class="admin-content__divided i-font_face_roboto">
                <h1 class="admin-content__title">PORTFOLIO</h1>
                <div class="admin-content__main">
                    <table class="admin-content__table">
                        <thead class="admin-content__table-head">
                            <tr class="admin-content__head-row">
                                <th class="admin-content__head-column">id</th>
                                <th class="admin-content__head-column">Name</th>
                                <th class="admin-content__head-column">Date</th>
                                <th class="admin-content__head-column">Tools</th>
                            </tr>
                        </thead>
                        <tbody class="admin-content__table-body">
                            <tr class="admin-content__body-row">
                                <td class="admin-content__body-column">12</td>
                                <td class="admin-content__body-column">lorem ipsum</td>
                                <td class="admin-content__body-column">12-20-2020 15:00</td>
                                <td class="admin-content__body-column">
                                    <div class="admin-content__tools">
                                        <svg class="admin-content__tools-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 512">
                                            <path d="M32 224c17.7 0 32 14.3 32 32s-14.3 32-32 32-32-14.3-32-32 14.3-32 32-32zM0 136c0 17.7 14.3 32 32 32s32-14.3 32-32-14.3-32-32-32-32 14.3-32 32zm0 240c0 17.7 14.3 32 32 32s32-14.3 32-32-14.3-32-32-32-32 14.3-32 32z"/>
                                        </svg>
                                        <ul class="admin-content__tools-list">
                                            <li class="admin-content__tools-item">Edit</li>
                                            <li class="admin-content__tools-item">Hidden</li>
                                            <li class="admin-content__tools-item">Remove</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr class="admin-content__body-row">
                                <td class="admin-content__body-column">12</td>
                                <td class="admin-content__body-column">lorem ipsum</td>
                                <td class="admin-content__body-column">12-20-2020 15:00</td>
                                <td class="admin-content__body-column">
                                    <div class="admin-content__tools">
                                        <svg class="admin-content__tools-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 512">
                                            <path d="M32 224c17.7 0 32 14.3 32 32s-14.3 32-32 32-32-14.3-32-32 14.3-32 32-32zM0 136c0 17.7 14.3 32 32 32s32-14.3 32-32-14.3-32-32-32-32 14.3-32 32zm0 240c0 17.7 14.3 32 32 32s32-14.3 32-32-14.3-32-32-32-32 14.3-32 32z"/>
                                        </svg>
                                        <ul class="admin-content__tools-list">
                                            <li class="admin-content__tools-item">Edit</li>
                                            <li class="admin-content__tools-item">Hidden</li>
                                            <li class="admin-content__tools-item">Remove</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr class="admin-content__body-row">
                                <td class="admin-content__body-column">12</td>
                                <td class="admin-content__body-column">lorem ipsum</td>
                                <td class="admin-content__body-column">12-20-2020 15:00</td>
                                <td class="admin-content__body-column">
                                    <div class="admin-content__tools">
                                        <svg class="admin-content__tools-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 512">
                                            <path d="M32 224c17.7 0 32 14.3 32 32s-14.3 32-32 32-32-14.3-32-32 14.3-32 32-32zM0 136c0 17.7 14.3 32 32 32s32-14.3 32-32-14.3-32-32-32-32 14.3-32 32zm0 240c0 17.7 14.3 32 32 32s32-14.3 32-32-14.3-32-32-32-32 14.3-32 32z"/>
                                        </svg>
                                        <ul class="admin-content__tools-list">
                                            <li class="admin-content__tools-item">Edit</li>
                                            <li class="admin-content__tools-item">Hidden</li>
                                            <li class="admin-content__tools-item">Remove</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr class="admin-content__body-row">
                                <td class="admin-content__body-column">12</td>
                                <td class="admin-content__body-column">lorem ipsum</td>
                                <td class="admin-content__body-column">12-20-2020 15:00</td>
                                <td class="admin-content__body-column">
                                    <div class="admin-content__tools">
                                        <svg class="admin-content__tools-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 512">
                                            <path d="M32 224c17.7 0 32 14.3 32 32s-14.3 32-32 32-32-14.3-32-32 14.3-32 32-32zM0 136c0 17.7 14.3 32 32 32s32-14.3 32-32-14.3-32-32-32-32 14.3-32 32zm0 240c0 17.7 14.3 32 32 32s32-14.3 32-32-14.3-32-32-32-32 14.3-32 32z"/>
                                        </svg>
                                        <ul class="admin-content__tools-list">
                                            <li class="admin-content__tools-item">Edit</li>
                                            <li class="admin-content__tools-item">Hidden</li>
                                            <li class="admin-content__tools-item">Remove</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr class="admin-content__body-row">
                                <td class="admin-content__body-column">12</td>
                                <td class="admin-content__body-column">lorem ipsum</td>
                                <td class="admin-content__body-column">12-20-2020 15:00</td>
                                <td class="admin-content__body-column">
                                    <div class="admin-content__tools">
                                        <svg class="admin-content__tools-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 512">
                                            <path d="M32 224c17.7 0 32 14.3 32 32s-14.3 32-32 32-32-14.3-32-32 14.3-32 32-32zM0 136c0 17.7 14.3 32 32 32s32-14.3 32-32-14.3-32-32-32-32 14.3-32 32zm0 240c0 17.7 14.3 32 32 32s32-14.3 32-32-14.3-32-32-32-32 14.3-32 32z"/>
                                        </svg>
                                        <ul class="admin-content__tools-list">
                                            <li class="admin-content__tools-item">Edit</li>
                                            <li class="admin-content__tools-item">Hidden</li>
                                            <li class="admin-content__tools-item">Remove</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
