<footer class="footer">
    <div class="container">
        <div class="footer__social-items">
            <div class="footer__social-item">
                <a class="footer__social-link" href="#">FACEBOOK</a>
            </div>
            <div class="footer__social-item">
                <a class="footer__social-link" href="#">VK</a>
            </div>
            <div class="footer__social-item">
                <a class="footer__social-link" href="#">GOOGLE +</a>
            </div>
        </div>
    </div>
</footer>